<div class="page">
    <div class="row" *blockUI="'loading'">
      <div class="col-md-12" style="width: 100%;">
        <div class="card shadow-sm">
          <div class="card-body p-2">
            <div class="menus">
              <div class="d-flex">
                <div class="w-200">
                  <input
                    class="form-control"
                    placeholder="Search for items..."
                    type="text"
                    id="myInput"
                    (keyup)="searchItems()"
                    style="width: 350px;height: 40px;"
                  />
                </div>
                <div class="w-100"></div>
              </div>
            </div>
              <form [formGroup]="itemForm" class="mb-4">
    <label for="">Filter</label>
            <select formControlName="name" id="" (ngModelChange)="findAccountGroup()">
          <option  *ngFor="let item of findList" value="{{item.name}}">{{item.name}}</option>
          
        
        
        
        </select>
        </form>

  
            <!-- Button group for adding and exporting -->
            <div class="btn-group" role="group" aria-label="Basic example">
              <button
                type="button"
                class="btn btn-sm btn-info"
                style="float: right;"
                (click)="openPopup('Add New')"
              >
                Add New Account
              </button>
              <button
                type="button"
                class="btn btn-sm btn-warning"
                style="float: right;"
                (click)="exportExcel()"
              >
                <i class="fa fa-file-excel-o"></i> Export
              </button>
            </div>
  
            <!-- Item table -->
            <div class="table-responsive">
              <table class="table table-striped" id="excel-table">
                <thead class="table-light">
                  <tr class="bg-secondary">
                    <th scope="col">#</th>
                    <th scope="col">Group Name</th>

                     <th scope="col"> Parent</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of itemsList; index as i">
                    <th>{{ i + 1 }}</th>
                    <td>{{ item.name }}</td>
                               
                     <td *ngIf="item.subcategory=='Uncategorized'">
                        <span class="badge badge-danger badge sm">{{item.subcategory}}</span>



  </td>

      <td  *ngIf="item.subcategory!='Uncategorized'" >
         <span class="badge badge-success badge sm">{{item.subcategory}}</span>



  </td>


                    <td >
                      <!-- Vegetable Sauce -->
                      <i  
                        class="fa fa-edit fa-lg text-info"
                        (click)="openPopup('Edit', item)"
                      ></i>
                      <i
                       
                        class="fa fa-close fa-lg text-danger"
                        (click)="deleteItem(item.id)"
                      ></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
  
            <!-- Pagination -->
            <div class="row pt-3">
              <div class="col-md-9">
                <ngb-pagination
                  [collectionSize]="itemsList.length"
                  [pageSize]="pageSize"
                  [(page)]="page"
                  (pageChange)="pageClick()"
                  [maxSize]="5"
                  [rotate]="true"
                  [ellipses]="false"
                  [boundaryLinks]="true"
                >
                  <ng-template ngbPaginationFirst>First</ng-template>
                  <ng-template ngbPaginationLast>Last</ng-template>
                  <ng-template ngbPaginationPrevious>Prev</ng-template>
                  <ng-template ngbPaginationNext>Next</ng-template>
                  <ng-template ngbPaginationEllipsis>...</ng-template>
                  <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
                </ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Modal for adding/editing items -->
    <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{ 'display': displayStyle }">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            {{ header }}
            <i class="fa fa-close" (click)="closePopup()"></i>
          </div>
          <div class="modal-body">
            <div class="col-md-12" style="width: 100%;">
              <div class="card card-room">
                <div class="card-header"></div>
                <div class="card-body">
                  <form [formGroup]="itemForm" (ngSubmit)="saveItem(itemForm.value)">
                    <div class="row">
                      <div class="col-md-5 pr-1">
                        <div class="form-group">
                          <label>Account Name</label>
                          <input
                            type="text"
                            formControlName="name"
                            class="form-control"
                            placeholder="Enter item name"
                          />
                        </div>
                      </div>

                      <div class="col-md-5 pr-1">
                        <div class="form-group">
                          <label>Amount</label>
                          <input
                            type="text"
                            formControlName="amount"
                            class="form-control"
                            placeholder="Enter item name"
                          />
                        </div>
                      </div>
                      

                                            <div class="col-md-5 pr-1">
                        <div class="form-group">
                          <label>Parent</label>
                                            <select formControlName="subcategory" class="form-control">
                                         
                    <option value="Uncategorized" selected>Uncategorized</option>
                    <option *ngFor="let item of itemsList" value="{{item.name}}">{{item.name}}</option>
                    </select>

                        </div>
                      </div>
  


<!-- 
                      <div class="col-md-5 pr-1">
                        <div class="form-group">
                          <label>Group</label>
                          <select    formControlName="group">
                            <option *ngFor="let item of groupList" value="{{item.name}}">{{item.name}}</option>
                          </select>
                        </div>
                      </div> -->


                      
                     


                    

                              
                   

  
                     
                    </div>
                    <!-- *ngIf="user[0]?.roles=='superadmin'" -->
  
                    <div class="row">
                      <div class="update ml-auto mr-auto" *ngIf="header === 'Add New'">
                        <button type="submit" class="btn btn-primary btn-round" >Save</button>
                      </div>
                      <div class="update ml-auto mr-auto" *ngIf="header === 'Edit'">
                        <button type="submit" class="btn btn-primary btn-round">Update</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Hidden button for opening the modal -->
    <!-- <button style="margin: 50px; padding: 10px; display: none;" type="button" class="btn btn-primary" (click)="openPopup()"></button> -->
  </div>
  <p>add-account works!</p>
