<div class="page" style="text-align: center;"  >


  <div class="row" >

<div class="card card-block login-card">
    <h3 class="form-kev">Longford Prestige</h3>
    <p>developed by kevin (0536755174)</p>
    <form  enctype="multipart/form-data"  [formGroup]="createForm" (ngSubmit)="loginUser()" >
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon addon-left" id="username">
          <i class="fa fa-user fa-fw"></i>
        </span> 
        <input class="form-control with-primary-addon" placeholder="User Account" type="text"  formControlName="username">
      </div>
      </div>
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon addon-left" id="password">
          <i class="fa fa-lock fa-fw"></i>
        </span>
        <input class="form-control with-primary-addon" placeholder="Password" type="password" formControlName="password">
      </div>
      </div>

      <!-- <a href="/account/signup">Reservation</a> -->
      <button class="btn btn-lg btn-primary" type="submit">
        Login
        <span class="glyphicon glyphicon-refresh" *ngIf="load"></span>
      </button>
      
    </form>   
      <!-- <a href="" class="btn btn-link">Register Now. →</a> -->
    </div>
  
  </div></div>
  