.card {
    border-radius: 10px;
  }
  
  .table-bordered th, .table-bordered td {
    text-align: center;
  }
  
  .text-gray-500 {
    color: #6c757d !important;
  }
  
  .btn {
    font-size: 14px;
  }
  
  thead.table-light {
    background-color: #f8f9fa;
  }
  
  .bg-secondary {
    background-color: #343a40 !important;
    color: #fff;
  }
  .report-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.logo-wrapper img {
  height: 80px;      /* controls logo size */
  width: auto;
}

.report-title {
  text-align: right;
}

.report-title h2 {
  margin: 0;
  font-weight: 600;
}

.report-title p {
  margin: 0;
  font-size: 14px;
  color: #555;
}
