<style>
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }

  .dropdown-container {

    padding-left: 5px;

    background-color: #ffff;
    display:none;
    color: black;
    
  }

  /* .dropdown-container :\{
  background-color: burlywood;
  color: white;



} */
  .dropdown-container-child {

padding-left: 5px;
display:none;
background-color: #fff;
color: black;

}

.dropdown-container-child {
  padding-left: 5px;
  display: none;
  background-color: #fff;
  color: black;
}

/* To target an element with ID "fina" inside .dropdown-container-child */
.dropdown-container-child #fina {
  color: black;
}


.dropdown-container #fina {
  color: black;
}

.dropdown-container li {
  border-bottom: none;
}


/* .dropdown-container-child :hover{

  background-color: burlywood;
  color: white;
} */

li{
  border-bottom:1px solid white;


}

#fina{
  color: white;
}
#fina:hover{
  background-color: transparent;

}
</style>
<div class="sidebar-wrapper" style="background-color: black;">
  <!-- <div class="logo " style="text-align: left; background-color:#722F37"  >
    <a href="" class="simple-text logo-mini">
      <div class="logo-image-small" >
       
      </div>
    </a>
  
    <h6 style="text-align: center; color: white;" class="form-side" > West end Arena Hotel</h6>
  </div> -->



    <ul class="nav" id="navlink">
      <!-- <li >
        <input type="text"  (keyup)="myFunctionside()" id="myInputside" class="form-control" placeholder="search.." style="border:none;
         padding:8px;">
      </li> -->

      <br><br><br>
      <li >
      <a id="fina" routerLink="dashboard"><i id="fina" class="fa fa-tachometer text-primar">&nbsp;</i><span>Dashboard</span></a>
    </li>
     <li    class="transparent">    
        <a id="fina" ><i id="fina" class="fa fa-user "  *ngIf="user[0].roles=='admin'" >&nbsp;</i><span>User&nbsp;</span>
          <i id="fina" class="fa fa-caret-down"  style="float:right;" ></i>
         
        </a>
      </li>

      <div class="dropdown-container">
        <li>
        <a id="fina" routerLink="all-users"><i id="fina" class="fa fa-users "  *ngIf="user[0].roles=='admin'" >&nbsp;</i><span>Users&nbsp;</span>

         
        </a></li>
  <li>
        <a id="fina" routerLink="all-sessions"><i id="fina" class="fa fa-users "  *ngIf="user[0].roles=='admin'">&nbsp;</i><span>Sessions&nbsp;</span>
         
        </a>
</li>
      </div>
<!-- 
      <li  >
        <a id="fina" routerLink="all-guest"><i id="fina" class="fa fa-user "  aria-disabled="true" >&nbsp;</i><span>Guest&nbsp;</span>
        
        </a>
      </li> -->
      <!-- <li>
        <a id="fina" style="font-size: small;"  routerLink="refund-list"><i id="fina" class="fa fa-money " >&nbsp;</i>Refund</a>
      </li>
- -->
       
          
             <li >
            <a id="fina"  *ngIf="user[0].roles=='admin'"   routerLink="customers" ><i id="fina" class="fa fa-user-circle " >&nbsp;</i><span>Customer&nbsp;</span>
              <!-- <i id="fina" class="fa fa-caret-down"   ></i> -->
           
            </a>
          </li> 
       

          <li  class="transparent" >
            <a id="fina"  *ngIf="user[0].roles=='admin'"  ><i id="fina" class="fa fa-users " >&nbsp;</i><span>Employee&nbsp;</span>
              <!-- <i id="fina" class="fa fa-caret-down"   ></i> -->
              <i id="fina" class="fa fa-caret-down"  style="float:right;" ></i>
            </a>
          </li>
    
            <div class="dropdown-container"  >
            <li>  <a id="fina"style="font-size: small;" routerLink="employees"><i id="fina" class="fa fa-list " >&nbsp;</i>All</a>
            </li>
        
            <li class="transparent"  >
              <a id="fina" style="font-size: small;" ><i id="fina" class="fa fa-calendar-o " >&nbsp;</i>Attendance</a>
            </li>

            
            <div class="dropdown-container-child">
              <li><a id="fina"style="font-size: small;" routerLink="attendance"><i id="fina" class="fa fa-list " >&nbsp;</i>Attendance List</a></li>
             
             </div>

            </div>



            <li><a id="fina"style="font-size: small;" routerLink="department"><i id="fina" class="fa fa-building " >&nbsp;</i>Department</a></li>
             
  
        <!-- <li   class="transparent">
        <a id="fina" ><i id="fina" class="fa fa-handshake-o fa-fw " style="color: lih;">&nbsp;</i><span>Todo &nbsp;</span>
        
        <i id="fina" class="fa fa-caret-down"  style="float:right;" ></i>
        </a>
        </li>
        <div class="dropdown-container">
        <li> <a id="fina"style="font-size: small;"  routerLink="/todo-list"><i id="fina" class="fa fa-list " >&nbsp;</i>Todo List</a></li> 
\

        </div> -->

              
      <li   class ="transparent">
        <a id="fina"*ngIf="user[0].roles=='admin' "  ><i id="fina" class="fa fa-money"  >&nbsp;</i><span>Finance&nbsp;</span>
          <i id="fina" class="fa fa-caret-down"  style="float:right;" ></i>
        </a>
      </li>

      

      <div class="dropdown-container">
        <!-- <li> <a id="fina"style="font-size: small;"  routerLink="/detailed-report"><i id="fina" class=" fa fa-list" >&nbsp;</i>Manage Student </a></li> -->
     

        <li   >
          <a id="fina" routerLink="add-budget" ><i id="fina" class="fa fa-money"  *ngIf="user[0].roles=='admin' ">&nbsp;</i><span>Budget&nbsp;</span>
           
          </a>
        </li>
        <li   >
        <li   >
          <a id="fina" routerLink="expenses" ><i id="fina" class="fa fa-balance-scale" *ngIf="user[0].roles=='admin' "  >&nbsp;</i><span>Expenses&nbsp;</span>
           
          </a>
        </li>
        <li   >
          <a id="fina" routerLink="income" ><i id="fina" class="fa fa-handshake-o"  >&nbsp;</i><span>Income&nbsp;</span>
           
          </a></li>

          <li class="transparent"> <a id="fina"style="font-size: small;" *ngIf="user[0].roles=='admin' "  ><i id="fina" class=" fa fa-dollar " >&nbsp;</i>
          PayRoll </a></li> 

            <div class="dropdown-container">
              <li class="transparent"> <a id="fina"style="font-size: small;" *ngIf="user[0].roles=='admin' || user[0].roles=='accountant'"   routerLink="/salary-template"><i id="fina" class=" fa fa-calculator" >&nbsp;</i>
                Salary Template</a></li> 

                <li class="transparent"> <a id="fina"style="font-size: small;" *ngIf="user[0].roles=='admin'|| user[0].roles=='accountant'"  routerLink="/salary-payment"><i id="fina" class=" fa fa-money " >&nbsp;</i>
                 Make Payment</a></li> 
<!-- right -->
            </div>
           
         

          <li>  <a id="fina"style="font-size: small;"  *ngIf="user[0].roles=='admin' "   routerLink="/gop-deduction" >
            <i id="fina" class="fa fa-minus"  >&nbsp;</i>GOP deductions</a></li>
       
          
        <li class="transparent"> <a id="fina"style="font-size: small;" *ngIf="user[0].roles=='admin' "   routerLink="/account-receivable"><i id="fina" class=" fa fa-money " >&nbsp;</i>
          Accounts Receiv. </a></li> 

            <div class="dropdown-container">
              <li class="transparent"> <a id="fina"style="font-size: small;" *ngIf="user[0].roles=='admin' "   routerLink="/account-receivable"><i id="fina" class=" fa fa-calendar-o " >&nbsp;</i>
                Daily</a></li> 

                <li class="transparent"> <a id="fina"style="font-size: small;" *ngIf="user[0].roles=='admin' "  routerLink="/account-receivable-dates"><i id="fina" class=" fa fa-calendar-o " >&nbsp;</i>
                 Dates Between</a></li> 
<!-- right -->
            </div>
            <li> <a id="fina"style="font-size: small;" *ngIf=" user[0].roles=='admin' " routerLink="/balance-sheet"><i id="fina" class="  fa fa-balance-scale"  >&nbsp;</i>Balance Sheet  
          <!-- <i id="fina" class="fa fa-caret-down"  style="float:right;" ></i> -->
        </a></li> 

        <li  class="transparent"> <a id="fina"style="font-size: small;" *ngIf=" user[0].roles=='admin' " routerLink="/general-ledger"><i id="fina" class="  fa fa-book"  >&nbsp;</i>General Ledger  
          <!-- <i id="fina" class="fa fa-caret-down"  style="float:right;" ></i> -->
        </a></li> 

        <div class="dropdown-container">
          <li > <a id="fina"style="font-size: small;"  routerLink="/general-ledger" *ngIf="user[0].roles=='admin' " ><i id="fina" class="  fa fa-calendar-o" >&nbsp;</i>Daily</a></li>
            <li > <a id="fina"style="font-size: small;"  routerLink="/general-ledger-dates" *ngIf=" user[0].roles=='admin' "><i id="fina" class="  fa fa-calendar-o"  >&nbsp;</i>Different Dates</a></li>
   


        </div>
        <li>  <a id="fina"style="font-size: small;"  routerLink="/financial-overview"><i id="fina" class="  fa fa-line-chart"  >&nbsp;</i>Financial Overview  
          <!-- <i id="fina" class="fa fa-caret-down"  style="float:right;" ></i> -->
        </a></li> 
       
    
        </div>


        
        <li   class="transparent">
          <a id="fina"*ngIf="user[0].roles=='admin'" ><i id="fina" class="fa fa-file fa-fw " style="color: lih;">&nbsp;</i><span>Reports &nbsp;</span>
          <!-- <i id="fina" class="fa fa fa-caret-down"></i> -->
          <i id="fina" class="fa fa-caret-down"  style="float:right;" ></i>
          </a>
          </li>
          <div class="dropdown-container">
           <li> <a id="fina"style="font-size: small;"  routerLink="/budget-report"><i id="fina" class=" fa fa-calendar" >&nbsp;</i>Badget </a></li>
          <li> <a id="fina"style="font-size: small;"  routerLink="/detailed-report"><i id="fina" class=" fa fa-calendar" >&nbsp;</i>Detailed Summary </a></li>
          <li> <a id="fina"style="font-size: small;"  routerLink="/detailed-report-week"><i id="fina" class=" fa fa-calendar" >&nbsp;</i>Weekly Summary  </a></li>
         
            <li> <a id="fina"style="font-size: small;"  routerLink="/daily-income"><i id="fina" class="fa fa-calendar ">&nbsp;</i> Daily Income</a></li>
            <!-- <i id="fina" class=""></i> Icon for PDF Download -->
    
            <li   >
              <a id="fina" routerLink="daily-income-dates" ><i id="fina" class="fa fa-calendar" id="fina" *ngIf="user[0].roles=='admin'"  >&nbsp;</i><span>Weekly Income&nbsp;</span>
               
              </a>

              
            </li>
             <li   >
              <a id="fina" routerLink="canceled-order" ><i id="fina" class="fa fa-close" id="fina" *ngIf="user[0].roles=='admin'"  >&nbsp;</i><span>Canceled Order&nbsp;</span>
               
              </a>

              
            </li>
           
           
            
          <!-- <li> <a id="fina"style="font-size: small;"  routerLink="/todo-list"><i id="fina" class=" fa fa-print" >&nbsp;</i> Stock</a></li>
          <li> <a id="fina"style="font-size: small;"  routerLink="/todo-list"><i id="fina" class=" fa fa-print " >&nbsp;</i>Top Sales Item </a></li> 
          <li> <a id="fina"style="font-size: small;"  routerLink="/todo-list"><i id="fina" class="  fa fa-print" >&nbsp;</i>VAT/Tax </a></li> 
          <li> <a id="fina"style="font-size: small;"  routerLink="/todo-list"><i id="fina" class=" fa fa-print " >&nbsp;</i>Bar  </a></li> 
          <li> <a id="fina"style="font-size: small;"  routerLink="/todo-list"><i id="fina" class=" fa fa-print " >&nbsp;</i>Expenses </a></li> 
           -->
        <!-- <li>
            <a id="fina" style="font-size: small;"  routerLink="pages/add-todo"><i id="fina" class="fa fa-plus " style="color: lightgreen;">&nbsp;</i>New todo</a>
          </li> -->
  
      
          </div>

         
         
       <li   class="transparent">
          <a id="fina"*ngIf="user[0].roles=='admin'" ><i id="fina" class="fa fa-building fa-fw " style="color: lih;">&nbsp;</i><span>Inventory &nbsp;</span>
            <i id="fina" class="fa fa-caret-down"  style="float:right;" ></i>
       
          </a>
          </li>
          <div class="dropdown-container">
          <li> <a id="fina"style="font-size: small;"  routerLink="/purchase-request"><i id="fina" class=" fa fa-dollar" >&nbsp;</i>Purchase Request </a></li>
          <li> <a id="fina"style="font-size: small;"  routerLink="/purchase-order"><i id="fina" class=" fa fa-shopping-basket" >&nbsp;</i> Purchase Order</a></li>
        
          <li> <a id="fina"style="font-size: small;"  routerLink="/item-receieved"><i id="fina" class=" fa fa-list " >&nbsp;</i>Received Items  </a></li> 
          <li> <a id="fina"style="font-size: small;"  routerLink="/return-request"><i id="fina" class="  fa fa-hand-lizard-o" >&nbsp;</i>Return Request </a></li>
          <li> <a id="fina"style="font-size: small;"  routerLink="/print-voucher"><i id="fina" class=" fa fa-print " >&nbsp;</i>Purchase Voucher  </a></li> 
          <li class="transparent">
            <a id="fina"class="" ><i id="fina" class="fa fa-hourglass-3" >&nbsp;</i><span>Stock &nbsp;</span>
              <i id="fina" class="fa fa-caret-down"  style="float:right;" ></i>
            </a></li>
            <div class="dropdown-container">
              <li> <a id="fina"style="font-size: small;" routerLink="item-stock"><i id="fina" class="	fa fa-pencil" >&nbsp;</i>Manage Stock</a></li>
              <li> <a id="fina"style="font-size: small;" routerLink="item-transfer"><i id="fina" class="	fa fa-exchange" >&nbsp;</i>Transfer Stock</a></li>  
              <li> <a id="fina"style="font-size: small;" routerLink="outside-stock-transfer"><i id="fina" class="	fa fa-exchange" >&nbsp;</i>Transfer Out</a></li> 
               <!-- <li> <a id="fina"style="font-size: small;" routerLink="stock-sheet"><i id="fina" class="	fa fa-file`" >&nbsp;</i>Stock Sheet</a></li>  -->
              
              <li> <a id="fina"style="font-size: small;"  routerLink="/todo-list"><i id="fina" class=" fa fa-tachnometer " >&nbsp;</i>Stock Usage  </a></li> 
              
              
        
            </div> 
      
          </div>   <li >
            <a id="fina"*ngIf="user[0].roles=='admin'" href="/item-list"><i id="fina" class="fa fa-cutlery fa-fw " style="color: lih;">&nbsp;</i><span>POS &nbsp;</span>
              <!-- <i id="fina" class="fa fa-caret-down"  style="float:right;" ></i> -->
            </a>
            </li>



           <li   class="transparent">
            <a id="fina"*ngIf="user[0].roles=='admin'" ><i id="fina" class="fa fa-cog fa-fw " style="color: lih;">&nbsp;</i><span>Settings &nbsp;</span>
              <i id="fina" class="fa fa-caret-down"  style="float:right;" ></i>
            </a>
            </li>
            <div class="dropdown-container">
              <li   class="transparent">
              <a id="fina"*ngIf="user[0].roles=='admin'" ><i id="fina" class="fa fa-calculator fa-fw " style="color: lih;">&nbsp;</i><span>Accounts &nbsp;</span>
                <i id="fina" class="fa fa-caret-down"  style="float:right;" ></i>
              </a>
              </li>
          <div class="dropdown-container-child" id="dropdown">
            <!-- <li>
            <a id="fina"style="font-size: small;" routerLink="/pages/room-list"  >Account Families
              
            </a></li> -->
          <li> <a id="fina"style="font-size: small;"  routerLink="/account-group" ><i class="fa fa-briefcase"></i>      Account Groups</a></li> 
          <li> <a id="fina" style="font-size: small;"  routerLink="/add-account"  > <i class="fa fa-bank"></i>  Account</a></li> 
           <!-- <li> <a id="fina" style="font-size: small;"  routerLink="/pages/add-room"  ><i class="fa fa-barcode"></i> Journal Voucher Codes</a></li>
           <li><a id="fina" style="font-size: small;"  routerLink="/pages/add-room"  ><i class="fa fa-chart"></i> Import Chart of Accounts</a></li> 
  
           <li><a id="fina" style="font-size: small;"  routerLink="/pages/add-room"  >JV code assignment</a></li> 
           <li> <a id="fina" style="font-size: small;"  routerLink="/pages/add-room"  ><i class="fa fa-bank"></i> Recalculate Account  Balance</a></li> -->
           </div>
  
           
          
          <li class="transparent">
          <a id="fina"class="" ><i id="fina" class="fa fa-building" >&nbsp;</i><span>Inventory &nbsp;</span>
            <i id="fina" class="fa fa-caret-down"  style="float:right;" ></i>
          </a></li>
   
           <div class="dropdown-container">
          
           
            
           <li> <a id="fina" style="font-size: small;" routerLink="item"><i id="fina" class="fa fa-shopping-cart" >&nbsp;</i> Item </a></li>
            <li><a id="fina" style="font-size: small;"  routerLink="item-category"><i id="fina" class="fa fa-mars-double" >&nbsp;</i> Item Categories </a></li>
  
           <li> <a id="fina"style="font-size: small;" routerLink="item-unit"><i id="fina" class="fa fa-balance-scale" >&nbsp;</i> Item Unit</a></li>
           <li> <a id="fina"style="font-size: small;"routerLink="item-family"><i id="fina" class="fa fa-cubes" >&nbsp;</i> Item Family</a></li>
         

     
          
           <li> <a id="fina"style="font-size: small;"routerLink="item-store"><i id="fina" class="	fa fa-building-o" >&nbsp;</i> Store</a></li>
  
          </div>
          <li class="transparent">
          <a id="fina"class=""  *ngIf="user[0].roles=='admin'" ><i id="fina" class="fa fa-group fa-fw " style="color: lih;">&nbsp;</i><span>Vendors &nbsp;</span>
            
          </a></li>
   
          <div class="dropdown-container">
           <li> <a id="fina"style="font-size: small;"  routerLink="vendor"><i class="fa fa-users"></i>Vendors</a></li>
           <li><a id="fina"style="font-size: small;"  routerLink="/pages/payment-list">Vendor Tax Code</a></li> 
           
          </div>
         
   
              <!-- <li ></li>
        <li class="transparent">  <a id="fina"class=""  ><i id="fina" class="fa fa-dollar fa-fw " style="color: lih;">&nbsp;</i><span>Finance  &nbsp;</span>
          
          </a></li>
   
          <div class="dropdown-container">
          <li> <a id="fina"style="font-size: small;"  routerLink="/pages/payment-list">Financial Setu</a></li> 
    
           
          </div> -->
  
         <li class="transparent">
          <a id="fina"class=""  ><i id="fina" class="fa fa-users fa-fw " style="color: lih;">&nbsp;</i><span>Staff  &nbsp;</span>
       
          </a></li>
   
          <div class="dropdown-container">
          <li><a id="fina"style="font-size: small;"  routerLink="/pages/payment-list">Staff levels</a></li>  
           <li><a id="fina"style="font-size: small;"  routerLink="/pages/payment-list">Staff nights</a></li> 
           
          </div>
  
  
          <!-- <li class="transparent">
          <a id="fina"class=""  ><i id="fina" class="fa fa-tag fa-fw " style="color: lih;">&nbsp;</i><span>Food Cost  &nbsp;</span>
         
          </a></li>
    -->
          <div class="dropdown-container">
          <!-- <li> <a id="fina"style="font-size: small;"  routerLink="/pages/payment-list">Extral meals</a></li> 
           <li><a id="fina"style="font-size: small;"  routerLink="/pages/payment-list">Staff food  cost</a></li>  -->
           <li> <a id="fina"style="font-size: small;"  routerLink="/pages/payment-list">Expense  accounts</a></li>
           
          </div>
    <li class="transparent">
          <a id="fina"class=""  ><i id="fina" class="fa fa-file fa-fw " style="color: lih;">&nbsp;</i><span>Invoice Reminders  &nbsp;</span>
         
          </a></li>
   
          <div class="dropdown-container">
         <li>   <a id="fina"style="font-size: small;"  routerLink="/account-receivable">Accounts Receivable</a></li>
            
           
          </div>
  
            </div>
 


 

            <li> 
        <a id="fina"routerLink="user"><i id="fina" class="fa fa-user fa-fw " style="color: lih;">&nbsp;</i><span>Profile</span></a>
      </li>  
       
        

    </ul>
</div>
